<ion-view title="Home" id="reserve-person">
    <div class="custom-header">
        <a class="vendor-btn" style="background-image:url('{{vendorImage}}')" nav-transition="none" ui-sref="menu"></a>
        <span class="user-btn-container">
        <a class="user-btn" style="background-image:url('{{userImage}}')" nav-transition="none" ui-sref="menu"></a>

    </span>
    </div>
    <ion-content padding="true" class="has-custom-header">
        <ul class="progress-container">
            <li class="active">
                <span>1</span>
            </li>
            <li><span>2</span></li>
            <li><span>3</span></li>
        </ul>

        <div class="label label-warning text-center">
            <p ng-repeat="error in errors">
                {{error}}
            </p>
        </div>

        <h4>Резервация на час</h4>
        <div class="step-description">Избери клиент:</div>

        <div class="reserve-search-container" ng-class="activateClass">
            <input type="text" name="client" placeholder="Започни да пишеш...." ng-model="form.searchField">
        </div>
        <div class="suggestion-list">
            <ion-spinner ng-show="!hideSpinner"></ion-spinner>
            <ul>
                <li ng-repeat="item in list track by item.id" ng-click="chooseClient(item.id)" ng-class="item.class">
                    {{item.name}}
                </li>
            </ul>
        </div>
    </ion-content>
    <div class="bottom-fixed-container" >
        <a class="btn btn-black" href="javascript:void (0);" ng-click="goBack(true);">откажи</a>
        <a class="btn" href="javascript:void (0);" ui-sref="reserve-procedure({clientId:currentClient.id,clientName:currentClient.name})">напред</a>
    </div>
</ion-view>