
.j-cash-minus:before { content: '\e800'; } /* '' */
.j-cash-sum:before { content: '\e801'; } /* '' */
.j-coin:before { content: '\e802'; } /* '' */
.j-face:before { content: '\e803'; } /* '' */
.j-hair:before { content: '\e804'; } /* '' */
.j-heart:before { content: '\e805'; } /* '' */
.j-home-res:before { content: '\e806'; } /* '' */
.j-home-rev:before { content: '\e807'; } /* '' */
.j-home-serv:before { content: '\e808'; } /* '' */
.j-map-pin:before { content: '\e809'; } /* '' */
.j-massage:before { content: '\e80a'; } /* '' */
.j-nails:before { content: '\e80b'; } /* '' */
.j-shield:before { content: '\e80c'; } /* '' */
.j-tick:before { content: '\e80d'; } /* '' */
.j-wallet:before { content: '\e80e'; } /* '' */
.j-x:before { content: '\e80f'; } /* '' */
.j-a-dashboard:before { content: '\e810'; } /* '' */
.j-a-procedures:before { content: '\e811'; } /* '' */
.j-a-profile:before { content: '\e812'; } /* '' */
.j-a-reports:before { content: '\e813'; } /* '' */
.j-a-reservations:before { content: '\e814'; } /* '' */
.j-a-reservations-2:before { content: '\e815'; } /* '' */
.j-arrow-d:before { content: '\e816'; } /* '' */
.j-arrow-l:before { content: '\e817'; } /* '' */
.j-arrow-r:before { content: '\e818'; } /* '' */
.j-a-settings:before { content: '\e819'; } /* '' */
.j-a-support:before { content: '\e81a'; } /* '' */
.j-bag:before { content: '\e81b'; } /* '' */
.j-best-seller:before { content: '\e81c'; } /* '' */
.j-heart-3:before { content: '\e81d'; } /* '' */
.j-heart-n:before { content: '\e81e'; } /* '' */
.j-share:before { content: '\e81f'; } /* '' */
.j-blog:before { content: '\e820'; } /* '' */
.j-body:before { content: '\e821'; } /* '' */
.j-bow-tie:before { content: '\e822'; } /* '' */
.j-facebook:before { content: '\e823'; } /* '' */
.j-instagram:before { content: '\e824'; } /* '' */
.j-phone:before { content: '\e825'; } /* '' */
.j-mail:before { content: '\e826'; } /* '' */
.j-fit:before { content: '\e827'; } /* '' */
.j-add:before { content: '\e828'; } /* '' */
.j-calendar:before { content: '\e829'; } /* '' */
.j-clock:before { content: '\e82a'; } /* '' */
.j-delete:before { content: '\e82b'; } /* '' */
.j-x-app:before { content: '\e82c'; } /* '' */
.j-arrow-l-1:before { content: '\e82d'; } /* '' */