@mixin font-size($sizeValue,$base: 10) {
  $remValue: ($sizeValue / $base);
  $pxValue: $sizeValue;
  font-size: $pxValue+px;
  font-size: $remValue+rem;
}

@mixin line-height($heightValue, $base: 10) {
  $result: $heightValue / $base;
  line-height: $result em;
}

@mixin clearfix() {
&:before,
&:after {
  content: " "; // 1
  display: table; // 2
  clear: both;

}
&:after {
  clear: both;
}
}

@mixin truncate() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin placeholderColor($color) {
  &::-webkit-input-placeholder {
    color:$color
  }

  &:-moz-placeholder { /* Firefox 18- */
    color:$color
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color:$color
  }

  &:-ms-input-placeholder {
    color:$color
  }
}